* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 #root{
  display: flex;
  justify-content: center;
}

.App {
  width: 1000px;
}

.sidebar{
  text-align: center;
  align-items: center;
  padding-top: 15px;
  height: 80px;
  display: flex;
}

.post{
  display: flex;
  padding: 15px;
  background-color:darkgrey;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
}

.form{
  display: flex;
  justify-content: space-between;
}
